[submodule "submodules/FluidGroup/swift-dynamic-list"]
	path = submodules/FluidGroup/swift-dynamic-list
	url = https://github.com/FluidGroup/swift-dynamic-list
[submodule "submodules/FluidGroup/swiftui-ring-slider"]
	path = submodules/FluidGroup/swiftui-ring-slider
	url = https://github.com/FluidGroup/swiftui-ring-slider.git
[submodule "submodules/FluidGroup/swiftui-persistent-control"]
	path = submodules/FluidGroup/swiftui-persistent-control
	url = https://github.com/FluidGroup/swiftui-persistent-control.git
[submodule "submodules/VergeGroup/swift-verge"]
	path = submodules/VergeGroup/swift-verge
	url = https://github.com/VergeGroup/swift-verge
[submodule "submodules/VergeGroup/swift-state-graph"]
	path = submodules/VergeGroup/swift-state-graph
	url = https://github.com/VergeGroup/swift-state-graph
